
SECRET =
DEBUG =
ALLOWED_HOSTS=localhost,127.0.0.1,example.com

#database credentials
# testdb3;
DB_NAME = 
DB_PASSWORD = 
DB_USERNAME = 
DB_HOST = 
DB_PORT = 


# add other ENV url for These images
FAVICON = 
LOGO = 
BACKGROUND_IMAGE=